# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Instance folder (Flask local DB/config)
instance/

# Database files (SQLite)
*.db
*.sqlite3

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Dependencies (optional if you don't want node in backend)
node_modules/